{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Mentions légales{% endblock %}

{% block body %}

<div class="container">
  <h1 class="text-center mb-4">Mentions légales</h1>
  <h2>Identité</h2>
  <p>Folie des fondants</p>
  <p>Société par actions simplifiée au capital de [montant du capital social] euros</p>
  <p>Immatriculée au RCS de [ville d'immatriculation] sous le numéro [numéro d'immatriculation]</p>
  <p>Siège social : 45 rue des folies de fondant</p>
  <p>Téléphone : [numéro de téléphone]</p>
  <p>Email : contact@foliedesfondants.fr</p>
  <h2>Directeur de la publication</h2>
  <p>[Nom et prénom du directeur de la publication]</p>
  <h2>Hébergement</h2>
  <p>Notre site est hébergé par [nom de l'hébergeur], dont le siège social est situé au [adresse de l'hébergeur].</p>
  <h2>Propriété intellectuelle</h2>
  <p>Tous les éléments du site internet (textes, logos, images, vidéos, etc.) sont protégés par le droit d'auteur et la propriété intellectuelle. Toute reproduction ou utilisation est strictement interdite sans notre autorisation préalable.</p>
  <h2>Données personnelles</h2>
  <p>Les données personnelles que vous nous communiquez sont utilisées dans le cadre de la vente et du traitement de votre commande. Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant.</p>
  <h2>Cookies</h2>
  <p>Notre site utilise des cookies pour améliorer votre expérience de navigation et à des fins statistiques. En poursuivant votre navigation sur notre site, vous acceptez l'utilisation de ces cookies.</p>
  <h2>Droit applicable</h2>
  <p>Les présentes mentions légales sont soumises à la loi française. En cas de litige, les tribunaux français seront seuls compétents.</p>
</div>
{% endblock %}